@charset "UTF-8";
/*--------- COLORES --------- */
/*--------- TAMAÑO FUENTE --------*/
/*--------- FUENTE ----------*/
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@200;300;500;600;700&family=Oswald:wght@300;500;700&family=Vazirmatn:wght@800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Oswald", sans-serif;
  background-color: #191818; }

.header {
  background-image: url(.././img/backheaderr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .header__logo {
    margin-left: 0.1rem;
    width: 6em;
    height: 6em; }
  .header__navbar {
    padding: 1rem; }
    .header__navbar a {
      text-decoration: none;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size .3s;
      text-transform: uppercase;
      margin-right: 1rem;
      padding: 1.2rem;
      line-height: 1rem;
      color: beige;
      font-size: 1.4rem;
      font-weight: 600; }
      .header__navbar a:hover, .header__navbar a :focus {
        background-size: 100% 2px; }
    .header__navbar button {
      background-color: #f13232;
      border-color: beige; }

.footer {
  background-image: url(.././img/fondofooter.jpg);
  background-color: #191818;
  background-position: center;
  color: beige;
  clear: both; }
  .footer__contenido {
    display: grid;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    font-size: 1em;
    padding: 1rem;
    height: 25rem; }
    .footer__contenido a {
      text-decoration: none;
      margin-right: 1rem;
      padding: 1.2rem;
      color: beige; }
  .footer__contenido--logo a {
    font-size: 1em; }
  .footer__contenido--logo img {
    width: 6.55em;
    height: 3em; }
  .footer__contenido--redes p {
    font-size: 1em; }
  .footer__contenido--iconos img {
    width: 2.5rem;
    height: 2.5rem; }

.contenedor {
  background-color: #191818;
  border: #191818; }

.contenido {
  background-color: #191818;
  color: beige;
  padding: 1rem;
  line-height: 1.6; }
  .contenido__parrafo--titulo {
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: left;
    margin-top: 5%;
    padding: 0.5rem;
    text-align: center; }
  .contenido__parrafo--texto {
    font-size: 1em;
    padding: 1rem;
    text-align: center; }

.lateral {
  background-color: #191818;
  padding: 2rem; }

.comunicate {
  background-color: #191818;
  color: beige;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: normal;
  align-content: space-evenly;
  grid-template-areas: "texto" "formulario";
  height: 50em; }
  .comunicate div#texto {
    grid-area: texto; }
  .comunicate div#formulario {
    grid-area: formulario; }
  .comunicate__texto {
    text-align: center; }
    .comunicate__texto h1 {
      font-size: 1.5em;
      padding: 2rem;
      text-transform: uppercase; }
    .comunicate__texto p {
      font-size: 1em; }
  .comunicate__formulario {
    font-size: 1.2em;
    width: 15em; }

.menu {
  background-color: #191818;
  color: beige; }
  .menu h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 3.5rem;
    font-size: 1.5em; }
  .menu img {
    width: 11em;
    height: 11em; }
  .menu__grid {
    display: grid;
    justify-items: normal;
    justify-content: center;
    align-items: normal;
    align-content: space-evenly;
    grid-template-areas: "agares" "belcebu" "paimon" "astaroth" "amon" "samael" "lilith" "lucifer";
    grid-template-columns: 20em;
    grid-template-rows: 30em 30em 30em 30em 30em 30em 30em 30em;
    height: 290em; }
    .menu__grid div#agares {
      grid-area: agares; }
    .menu__grid div#belcebu {
      grid-area: belcebu; }
    .menu__grid div#paimon {
      grid-area: paimon; }
    .menu__grid div#astaroth {
      grid-area: astaroth; }
    .menu__grid div#amon {
      grid-area: amon; }
    .menu__grid div#samael {
      grid-area: samael; }
    .menu__grid div#lilith {
      grid-area: lilith; }
    .menu__grid div#lucifer {
      grid-area: lucifer; }
    .menu__grid div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
      flex-wrap: wrap; }
    .menu__grid p {
      text-align: center;
      font-size: 0.8em;
      padding: 1rem; }
    .menu__grid h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.2em;
      color: #fff;
      animation: neon 1.5s ease-in-out infinite alternate; }

@keyframes neon {
  from {
    text-shadow: 0 0 10px #f0e9e9, 0 0 20px #f0e9e9, 0 0 30px #f0e9e9, 0 0 40px #AD1405, 0 0 70px #860E02, 0 0 80px #860E02, 0 0 100px #860E02, 0 0 150px #860E02; }
  to {
    text-shadow: 0 0 5px #f0e9e9, 0 0 10px #f0e9e9, 0 0 15px #f0e9e9, 0 0 20px #AD1405, 0 0 35px #860E02, 0 0 40px #860E02, 0 0 50px #860E02, 0 0 75px #860E02; } }

.sumate {
  background-color: #191818;
  color: beige;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: normal;
  align-content: space-evenly;
  display: grid;
  grid-template-areas: "texto" "formulario";
  height: 55rem; }
  .sumate div#texto {
    grid-area: texto; }
  .sumate div#formulario {
    grid-area: formulario; }
  .sumate__texto {
    text-align: center; }
    .sumate__texto h1 {
      font-size: 1.5em;
      padding: 2rem;
      text-transform: uppercase; }
    .sumate__texto p {
      font-size: 1em; }
  .sumate__formulario {
    font-size: 1.2em;
    width: 15em; }

.ubicacion {
  padding: 3rem;
  background-color: #191818;
  color: beige; }
  .ubicacion__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;
    align-content: normal;
    flex-wrap: wrap; }
  .ubicacion__direccion {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    align-content: normal;
    margin-top: 2rem; }
    .ubicacion__direccion h1 {
      text-transform: uppercase;
      font-size: 1.5em;
      text-align: center; }
    .ubicacion__direccion p {
      text-align: center;
      font-size: 1em; }
    .ubicacion__direccion iframe {
      width: 18em;
      height: 25em; }
  .ubicacion__contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: normal;
    flex-wrap: wrap;
    margin-top: 6rem;
    height: 18.75em; }
    .ubicacion__contacto h2 {
      text-transform: uppercase;
      font-size: 1.2em;
      text-align: center; }
    .ubicacion__contacto p {
      text-align: center;
      font-size: 1em; }
    .ubicacion__contacto p#pedido {
      text-transform: uppercase;
      font-size: 1em; }
    .ubicacion__contacto img {
      height: 2.5em;
      width: 2.5em; }

/*----------- MOBILE ------------*/
@media (min-width: 320px) and (max-width: 576px) {
  .header__logo {
    margin-left: 0.1rem;
    width: 8em;
    height: 8em; }
  .ubicacion__direccion iframe {
    width: 19em; } }

/*----------- TABLET ------------*/
@media (min-width: 577px) and (max-width: 768px) {
  .header__logo {
    margin-left: 0.3rem;
    width: 10em;
    height: 10em; }
  .contenido__parrafo--titulo {
    margin-top: 20%; }
  .menu img {
    width: 15em;
    height: 15em; }
  .menu__grid {
    grid-template-columns: 30em;
    grid-template-rows: 35em 35em 35em 35em 35em 35em 35em 35em; }
    .menu__grid p {
      font-size: 1em; }
    .menu__grid h2 {
      font-size: 1.5em; }
  .comunicate__formulario {
    width: 20em; }
  .sumate__formulario {
    width: 20em; }
  .ubicacion__direccion iframe {
    width: 24em; }
  .footer__contenido {
    display: grid;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    font-size: 1.2em; }
  .footer__contenido--logo a {
    font-size: 1.2em; }
  .footer__contenido--redes p {
    font-size: 1.2em; }
  .footer__contenido--iconos img {
    width: 3rem;
    height: 3rem; } }

/*--------- PANTALLA LARGE ----------*/
@media (min-width: 769px) and (max-width: 992px) {
  .header__logo {
    margin-left: 0.3rem;
    width: 10em;
    height: 10em; }
  .contenido__parrafo--titulo {
    margin-top: 20%; }
  .menu img {
    width: 15em;
    height: 15em; }
  .menu__grid {
    grid-template-columns: 30em;
    grid-template-rows: 35em 35em 35em 35em 35em 35em 35em 35em; }
    .menu__grid p {
      font-size: 1em; }
    .menu__grid h2 {
      font-size: 1.5em; }
  .comunicate__formulario {
    width: 20em; }
  .sumate__formulario {
    width: 20em; }
  .ubicacion__direccion iframe {
    width: 24em; }
  .footer__contenido {
    display: grid;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    font-size: 1.2em; }
  .footer__contenido--logo a {
    font-size: 1.2em; }
  .footer__contenido--redes p {
    font-size: 1.2em; }
  .footer__contenido--iconos img {
    width: 3rem;
    height: 3rem; } }

/*----------- DESKTOP -----------*/
@media (min-width: 993px) and (max-width: 1024px) {
  .header__logo {
    height: 15em;
    width: 15em; }
  .contenido__parrafo--titulo {
    font-size: 2em;
    margin-top: 23%; }
  .contenido__parrafo--texto {
    font-size: 1.5em; }
  .comunicate__texto h1 {
    font-size: 2em; }
  .comunicate__texto p {
    font-size: 1.5em; }
  .comunicate__formulario {
    width: 20em; }
  .menu img {
    width: 20em;
    height: 20em; }
  .menu h1 {
    font-size: 2em;
    margin-top: 5%; }
  .menu__grid {
    display: grid;
    justify-items: normal;
    justify-content: center;
    align-items: start;
    align-content: space-evenly;
    grid-template-areas: "agares belcebu" "paimon astaroth" "amon samael" "lilith lucifer";
    grid-template-columns: 29em 29em;
    grid-column-gap: 3em;
    grid-template-rows: 38em 38em 38em 38em;
    height: 205em; }
    .menu__grid div {
      height: 35em; }
    .menu__grid div#astaroth {
      height: 36.8rem; }
    .menu__grid h2 {
      font-size: 1.5em; }
    .menu__grid p {
      font-size: 1.2em; }
  .sumate__texto h1 {
    font-size: 2em; }
  .sumate__texto p {
    font-size: 1.5em; }
  .sumate__formulario {
    width: 20em; }
  .ubicacion__direccion h1 {
    font-size: 2em; }
  .ubicacion__direccion p {
    font-size: 1.2em; }
  .ubicacion__direccion iframe {
    width: 30em; }
  .footer__contenido {
    display: grid;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    font-size: 1.2em; }
  .footer__contenido--logo a {
    font-size: 1.2em; }
  .footer__contenido--redes p {
    font-size: 1.2em; }
  .footer__contenido--iconos img {
    width: 3rem;
    height: 3rem; } }

/*-------------- PANTALLA GRANDE ------------*/
@media (min-width: 1025px) and (max-width: 1200px) {
  .header__logo {
    height: 15em;
    width: 15em; }
  .contenido__parrafo--titulo {
    font-size: 2em;
    margin-top: 23%; }
  .contenido__parrafo--texto {
    font-size: 1.5em; }
  .comunicate__texto h1 {
    font-size: 2em; }
  .comunicate__texto p {
    font-size: 1.5em; }
  .comunicate__formulario {
    width: 20em; }
  .menu img {
    width: 20em;
    height: 20em; }
  .menu h1 {
    font-size: 2em;
    margin-top: 5%; }
  .menu__grid {
    display: grid;
    justify-items: normal;
    justify-content: center;
    align-items: start;
    align-content: space-evenly;
    grid-template-areas: "agares belcebu" "paimon astaroth" "amon samael" "lilith lucifer";
    grid-template-columns: 30em 30em;
    grid-column-gap: 4em;
    grid-template-rows: 38em 38em 38em 38em;
    height: 205em; }
    .menu__grid div {
      height: 35em; }
    .menu__grid div#astaroth {
      height: 36.8rem; }
    .menu__grid h2 {
      font-size: 1.5em; }
    .menu__grid p {
      font-size: 1.2em; }
  .sumate__texto h1 {
    font-size: 2em; }
  .sumate__texto p {
    font-size: 1.5em; }
  .sumate__formulario {
    width: 20em; }
  .ubicacion__direccion h1 {
    font-size: 2em; }
  .ubicacion__direccion p {
    font-size: 1.2em; }
  .ubicacion__direccion iframe {
    width: 30em; }
  .footer__contenido {
    display: grid;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    font-size: 1.2em; }
  .footer__contenido--logo a {
    font-size: 1.2em; }
  .footer__contenido--redes p {
    font-size: 1.2em; }
  .footer__contenido--iconos img {
    width: 3rem;
    height: 3rem; } }

/*-------------- PANTALLA 1200 --------------*/
@media (min-width: 1201px) {
  .header__logo {
    height: 15em;
    width: 15em; }
  .contenido__parrafo--titulo {
    font-size: 2em;
    margin-top: 23%; }
  .contenido__parrafo--texto {
    font-size: 1.5em; }
  .comunicate__texto h1 {
    font-size: 2em; }
  .comunicate__texto p {
    font-size: 1.5em; }
  .comunicate__formulario {
    width: 20em; }
  .menu img {
    width: 20em;
    height: 20em; }
  .menu h1 {
    font-size: 2em;
    margin-top: 5%; }
  .menu__grid {
    display: grid;
    justify-items: normal;
    justify-content: center;
    align-items: start;
    align-content: space-evenly;
    grid-template-areas: "agares belcebu" "paimon astaroth" "amon samael" "lilith lucifer";
    grid-template-columns: 30em 30em;
    grid-column-gap: 4em;
    grid-template-rows: 38em 38em 38em 38em;
    height: 205em; }
    .menu__grid div {
      height: 35em; }
    .menu__grid div#astaroth {
      height: 36.8rem; }
    .menu__grid h2 {
      font-size: 1.5em; }
    .menu__grid p {
      font-size: 1.2em; }
  .sumate__texto h1 {
    font-size: 2em; }
  .sumate__texto p {
    font-size: 1.5em; }
  .sumate__formulario {
    width: 20em; }
  .ubicacion__direccion h1 {
    font-size: 2em; }
  .ubicacion__direccion p {
    font-size: 1.5em; }
  .ubicacion__direccion iframe {
    width: 30em; }
  .footer__contenido {
    display: grid;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    font-size: 1.2em; }
  .footer__contenido--logo a {
    font-size: 1.2em; }
  .footer__contenido--redes p {
    font-size: 1.2em; }
  .footer__contenido--iconos img {
    width: 3rem;
    height: 3rem; } }
