@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    /*font-family: 'Vazirmatn', sans-serif;*/
    /*font-family: 'Antonio', sans-serif;*/
    background-color: $color-fondo;
}

/*------------- HEADER -------------*/ 

.header {
    background-image: url(.././img/backheaderr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__logo{
        margin-left: 0.5rem;
        width: 7.5em;
        height:7.5em;
    }
    &__navbar{
        padding: 1rem;
        & a {
           text-decoration: none;
           background-image: linear-gradient(currentColor, currentColor);
           background-position: 0% 100%;
           background-repeat: no-repeat;
           background-size: 0% 2px;
           transition: background-size .3s;
           text-transform: uppercase;
           margin-right: 1rem;
           padding: 1.2rem;
           line-height:1rem;
           color: $color-letra;
           font-size: 1.4rem;
           font-weight: 600;
        &:hover, :focus {
            background-size: 100% 2px;
        }
        }
        & button {
            background-color:#f13232;
            border-color:beige;
        }
    }
}

/*------------- CONTENEDOR --------------*/

.contenedor {
    background-color: $color-fondo;
    border: $color-fondo;
}

.contenido {
    background-color: $color-fondo;
    color: $color-letra;
    padding: 1rem;
    line-height: 1.6;
    &__parrafo--titulo {
        font-weight: 700;
        font-size: 1.5em;
        text-transform: uppercase;
        text-align: left;
        margin-top: 5%;
        padding: 0.5rem;
        text-align: center;
    }
    &__parrafo--texto {
        font-size: 1em;
        padding: 1rem;
        text-align: center;
    }
}

/*----------- CONTENIDO LATERAL ------------*/

.lateral {
    background-color: $color-fondo;
    padding: 2rem;
}

/*---------------- FOOTER ----------------*/

.footer {
    background-image: url(.././img/fondofooter.png);
    background-color: $color-fondo;
    background-position: center;
    color: $color-letra;
    clear: both;
    &__contenido {
        display: grid;
        align-content: space-evenly;
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;
        font-size: 1.2em;
        padding: 1rem;
        height:25rem;
        & a {
            text-decoration: none;
            margin-right: 1rem;
            padding: 1.2rem;
            color: $color-letra;
        }
    }
    &__contenido--logo {
        & a {
            font-size: 1.2em;
        }
        & img {
            width: 6.55em;
            height: 3em;
        }
    }
    &__contenido--redes {
        & p {
            font-size: 1.2em;
        }
    }
    &__contenido--iconos {
        & img {
            width: 3.125rem;
    height: 3.125rem;
        }
    }
}

/*------------- CONTACTO -------------*/

.comunicate {
    background-color: $color-fondo;
    color: $color-letra;
    display: grid;
    grid-template-areas:
    "texto"
    "formulario"
    ;
    align-content: space-evenly;
    justify-content: center;
    justify-items: center;
    height: 50em;
    div#texto {
        grid-area: texto;
    }
    
    div#formulario {
        grid-area: formulario;
    }
    &__texto {
        text-align: center;
        & h1 {
            font-size: 1.5em;
            padding: 2rem;
            text-transform: uppercase;
        }
        & p {
            font-size: 1em;
        }
    }
    &__formulario {
        font-size: 1.25rem;
        width: 15em;
    }
}

/*-------------- HAMBURGUESAS -----------*/

.menu {
    background-color: $color-fondo;
    color: $color-letra;
    & h1 {
        text-transform: uppercase;
        text-align: center;
        padding: 3.5rem;
        font-size: 1.5em;
    }
    & img {
        width: 11em;
        height: 11em;
    }
    &__grid {
        display: grid;
        grid-template-areas:
        "agares"
        "belcebu"
        "paimon"
        "astaroth"
        "amon"
        "samael"
        "lilith"
        "lucifer"
        ;
        grid-template-columns: 20em;
        grid-template-rows: 30em 30em 30em 30em 30em 30em 30em 30em;
        justify-content: center;
        align-content: space-evenly;
        height: 290em;
        div#agares {
            grid-area: agares;
        }
        
        div#belcebu {
            grid-area: belcebu;
        }
        
        div#paimon {
            grid-area: paimon;
        }
        
        div#astaroth {
            grid-area: astaroth;
        }
        
        div#amon {
            grid-area: amon;
        }
        
        div#samael {
            grid-area: samael;
        }
        
        div#lilith {
            grid-area: lilith;
        }
        
        div#lucifer {
            grid-area: lucifer;
        }
        
        & div {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-content: center;
            align-items: center;
        }
        & p {
            text-align: center;
            font-size: 0.8em;
            padding: 1rem;
        }
        & h2 {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.2em;
            color:#fff;
            animation: neon 1.5s ease-in-out infinite alternate;
            @keyframes neon {
                from {
                  text-shadow: 0 0 10px rgb(240, 233, 233), 0 0 20px rgb(240, 233, 233), 0 0 30px rgb(240, 233, 233), 0 0 40px #AD1405,
                    0 0 70px #860E02, 0 0 80px #860E02, 0 0 100px #860E02, 0 0 150px #860E02;
                }
                to {
                  text-shadow: 0 0 5px rgb(240, 233, 233), 0 0 10px rgb(240, 233, 233), 0 0 15px rgb(240, 233, 233), 0 0 20px #AD1405,
                    0 0 35px #860E02, 0 0 40px #860E02, 0 0 50px #860E02, 0 0 75px #860E02;
                }
            }
        }
    }
}



/*-------------- TRABAJÁ CON NOSOTROS -----------*/

.sumate {
    background-color: $color-fondo;
    color: $color-letra;
    display: grid;
    grid-template-areas:
    "texto"
    "formulario"
    ;
    align-content: space-evenly;
    justify-content: center;
    justify-items: center;
    height: 55rem;
    div#texto {
        grid-area: texto;
    }
    div#formulario {
        grid-area: formulario;
    }
    &__texto {
       text-align: center;
       & h1 {
        font-size: 1.5em;
        padding: 2rem;
        text-transform: uppercase;
       }
       & p {
        font-size: 1em;
       }
    }
    &__formulario {
        font-size: 1.25em;
        width: 15em;
    }
}

/*--------------- UBICACIÓN ------------*/

.ubicacion {
    padding: 3rem;
    background-color: $color-fondo;
    color: $color-letra;
    &__flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__direccion {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        & h2 {
            text-transform: uppercase;
            font-size: 1.5em;
            text-align: center;
        }
        & p {
            text-align: center;
            font-size: 1em;
        }
        & iframe {
            width: 18em;
            height: 25em;
        }
    }
    &__contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 6rem;
        height: 18.75em;
        & h3 {
            text-transform: uppercase;
            font-size: 1.25em;
            text-align: center;
        }
        & p {
            text-align: center;
            font-size: 1em;
        }
        & p#pedido {
            text-transform: uppercase;
            font-size: 1em;
        }
        & img {
            height: 2.5em;
            width: 2.5em;
        }
    }
}

 /*----------- MOBILE ------------*/  

 @media (min-width:320px) and (max-width:576px){
   
    .header__logo {
        margin-left: 0.1rem;
        width: 8em;
        height: 8em;
    }

    .ubicacion__direccion iframe {
        width: 19em;
    }
}

/*----------- TABLET ------------*/

@media (min-width:577px) and (max-width:768px) {

    .header__logo {
        margin-left: 0.3rem;
        width: 10em;
        height: 10em;
    }
  
    .contenido__parrafo--titulo {
        margin-top: 20%;
    }

    .menu {
        & img {
        width: 15em;
        height: 15em;
        }
        &__grid {
            grid-template-columns: 30em;
            grid-template-rows: 35em 35em 35em 35em 35em 35em 35em 35em;
            & p {
                font-size: 1em;
            }
            & h2 {
                font-size: 1.5em;
            }
        }
    }

    .comunicate__formulario {
        width: 20em;
    }

    .sumate__formulario {
        width: 20em;
    }

    .ubicacion__direccion iframe {
        width: 24em;
    }

}


/*--------- PANTALLA LARGE ----------*/

@media (min-width:769px) and (max-width:992px) {

    .header__logo {
        margin-left: 0.3rem;
        width: 10em;
        height: 10em;
    }

    .contenido__parrafo--titulo {
        margin-top: 20%;
    }

    .menu {
        & img {
        width: 15em;
        height: 15em;
        }
        &__grid {
            grid-template-columns: 30em;
            grid-template-rows: 35em 35em 35em 35em 35em 35em 35em 35em;
            & p {
                font-size: 1em;
            }
            & h2 {
                font-size: 1.5em;
            }
        }
    }

    .comunicate__formulario {
        width: 20em;
    }

    .sumate__formulario {
        width: 20em;
    }

    .ubicacion__direccion iframe {
        width: 24em;
    }

}


/*----------- DESKTOP -----------*/

@media (min-width:993px) and (max-width:1024px){

    .header__logo {
        height: 15em;
        width: 15em;
    }

    .contenido {
        &__parrafo--titulo {
            font-size: 2em;
            margin-top: 23%;
        }
        &__parrafo--texto {
            font-size: 1.5em;
        }
    }

    .comunicate {
        &__texto {
            & h1 {
                font-size: 2em;
            }
            & p {
                font-size: 1.5em;
            }  
        }
        &__formulario {
            width: 20em;
        }
    }

    .menu {
        & img {
            width: 20em;
            height: 20em;
        }
        & h1 {
            font-size: 2em;
            margin-top: 5%;
        }
        &__grid {
            grid-template-areas:
           "agares belcebu"
           "paimon astaroth"
           "amon samael"
           "lilith lucifer"
            ;
            grid-template-columns: 29em 29em;
            grid-column-gap: 3em;
            grid-template-rows: 38em 38em 38em 38em;
            justify-content: center;
            align-content: space-evenly;
            align-items: start;
            height: 205em;
            & div {
            height: 35em;
            }
            & div#astaroth {
                height: 36.8rem;
            }
            & h2 {
                font-size: 1.5em;
            }
            & p {
                font-size: 1.2em;
            }
        }
    }

    .sumate {
        &__texto {
            & h1 {
                font-size: 2em;
            }
            & p {
                font-size: 1.5em;
            }
        }
        &__formulario {
            width: 20em;
        }
    }

    .ubicacion {
        &__direccion {
            & h2 {
                font-size: 2em;
            }
            & p {
                font-size: 1.25em;
            }
            & iframe {
                width: 30em;
            }
        }
    }
}

/*-------------- PANTALLA GRANDE ------------*/

@media (min-width:1025px) and (max-width:1200px) {
    
    .header__logo {
        height: 15em;
        width: 15em;
    }

    .contenido {
        &__parrafo--titulo {
            font-size: 2em;
            margin-top: 23%;
        }
        &__parrafo--texto {
            font-size: 1.5em;
        }
    }

    .comunicate {
        &__texto {
            & h1 {
                font-size: 2em;
            }
            & p {
                font-size: 1.5em;
            }  
        }
        &__formulario {
            width: 20em;
        }
    }

    .menu {
        & img {
            width: 20em;
            height: 20em;
        }
        & h1 {
            font-size: 2em;
            margin-top: 5%;
        }
        &__grid {
            grid-template-areas:
           "agares belcebu"
           "paimon astaroth"
           "amon samael"
           "lilith lucifer"
            ;
            grid-template-columns: 30em 30em;
            grid-column-gap: 4em;
            grid-template-rows: 38em 38em 38em 38em;
            justify-content: center;
            align-content: space-evenly;
            align-items: start;
            height: 205em;
            & div {
            height: 35em;
            }
            & div#astaroth {
                height: 36.8rem;
            }
            & h2 {
                font-size: 1.5em;
            }
            & p {
                font-size: 1.2em;
            }
        }
    }

    .sumate {
        &__texto {
            & h1 {
                font-size: 2em;
            }
            & p {
                font-size: 1.5em;
            }
        }
        &__formulario {
            width: 20em;
        }
    }

    .ubicacion {
        &__direccion {
            & h2 {
                font-size: 2em;
            }
            & p {
                font-size: 1.25em;
            }
            & iframe {
                width: 30em;
            }
        }
    }

}

/*-------------- PANTALLA 1200 --------------*/

@media (min-width:1201px) {

    .header__logo {
        height: 15em;
        width: 15em;
    }

    .contenido {
        &__parrafo--titulo {
            font-size: 2em;
            margin-top: 23%;
        }
        &__parrafo--texto {
            font-size: 1.5em;
        }
    }

    .comunicate {
        &__texto {
            & h1 {
                font-size: 2em;
            }
            & p {
                font-size: 1.5em;
            }  
        }
        &__formulario {
            width: 20em;
        }
    }

    .menu {
        & img {
            width: 20em;
            height: 20em;
        }
        & h1 {
            font-size: 2em;
            margin-top: 5%;
        }
        &__grid {
            grid-template-areas:
           "agares belcebu"
           "paimon astaroth"
           "amon samael"
           "lilith lucifer"
            ;
            grid-template-columns: 30em 30em;
            grid-column-gap: 4em;
            grid-template-rows: 38em 38em 38em 38em;
            justify-content: center;
            align-content: space-evenly;
            align-items: start;
            height: 205em;
            & div {
            height: 35em;
            }
            & div#astaroth {
                height: 36.8rem;
            }
            & h2 {
                font-size: 1.5em;
            }
            & p {
                font-size: 1.2em;
            }
        }
    }

    .sumate {
        &__texto {
            & h1 {
                font-size: 2em;
            }
            & p {
                font-size: 1.5em;
            }
        }
        &__formulario {
            width: 20em;
        }
    }

    .ubicacion {
        &__direccion {
            & h2 {
                font-size: 2em;
            }
            & p {
                font-size: 1.25em;
            }
            & iframe {
                width: 30em;
            }
        }
    }
    
}