/*--------- COLORES --------- */

$color-fondo: #191818;
$color-letra: beige;

/*--------- TAMAÑO FUENTE --------*/

$fuente-xl: 2em;
$fuente-large: 1.5em;
$fuente-medium: 1.2em;
$fuente-small: 1em;
$fuente-xs: 0.8em;

/*--------- FUENTE ----------*/

$fuente-principal: 'Oswald', sans-serif;
$fuente-secundaria: 'Antonio', sans-serif;

