<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamburguesas - Devil's Burger</title>
    <link rel="shortcut icon" href=".././img/favicondevils.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@200;300;500;600;700&family=Oswald:wght@300;500;700&family=Vazirmatn:wght@800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href=".././css/estilos.css">
</head>
<body>
    <header class="header">
        <img class="header__logo" src=".././img/logodevils1.png" alt="logo">
        <nav class="header__navbar">
            <ul class="header__navbar--principal">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="hamburguesas.html">Hamburguesas</a></li>
                <li><a href="ubicacion.html">Ubicación</a></li>                  
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="tcn.html">Trabajá en Devil's</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="menu">
        <h1>Hamburguesas</h1>
        <div class="menu__grid">
            <div id="agares">
                <h2>Agares</h2>
                <img src=".././img/agares.PNG" alt="hamburguesa agares">
                <p>Doble carnde de 90 g, queso azul, ananá grillada, cebolla caramelizada, brotes frescos. </p>
            </div>
            <div id="belcebu">
                <h2>Belcebú</h2>
                <img src=".././img/belcebu.PNG" alt="hamburguesa belcebú">
                <p>Doble carne de 90 g, queso brie, rúcula, cebolla caramelizada y mayonesa de aceto balsámico.</p>
            </div>
            <div id="paimon">
                <h2>Paimon</h2>
                <img src=".././img/paimon.PNG" alt="hamburguesa paimon">
                <p>Doble carne de 90 g, dos fetas de panceta, dos fetas de cheddar, lechuga, tomate, ketchup y mostaza.</p>   
            </div>
            <div id="astaroth">
                <h2>Astaroth</h2>
                <img src=".././img/astaroth.PNG" alt="hamburguesa astaroth">
                <p>Triple carne de 90 g, pan invertido tostado con manteca, cuatro fetas de cheddar, cuatro fetas de panceta sweet, cebolla morada y salsa Devil's.</p>   
            </div>
            <div id="amon">
                <h2>Amón</h2>
                <img src=".././img/amon.PNG" alt="hamburguesa amón">
                <p>Doble carne de 90 g, dos fetas de cheddar, ensalada mexicana, nachos y mayonesa de palta.</p>
            </div>
            <div id="samael">
                <h2>Samael</h2>
                <img src=".././img/samael.PNG" alt="hamburguesa samael">
                <p>Doble carne de 90 g, cheddar líquido, cuatro fetas de panceta, cebolla crispy y salsa de barbacoa Jack Daniels.</p>  
            </div>
            <div id="lilith"> 
                <h2>Lilith</h2>
                <img src=".././img/lilith.PNG" alt="hamburguesa lilith">
                <p>Doble carne de 90 g, dos fetas de panceta, dos fetas de cheddar, cebolla frita, huevo frito y salsa barbacoa.</p>   
            </div>
            <div id="lucifer">
                <h2>Lucifer</h2>
                <img src=".././img/lucifer.PNG" alt="hamburguesa lucifer">
                <p>Triple carne de 90 g, tres fetas de cheddar, tres bastones de muzzarella envueltos en panceta y ketchup de curry.</p>    
            </div>
        </div>    
    </section>
    
    <footer class="footer">
        <div class="footer__contenido">
            <div class="footer__contenido--logo">
                <a href="../index.html"><img src=".././img/logodevils2.png" alt="logo footer"></a>
            </div>
            <div class="footer__contenido--ubicacion">
                <a href="ubicacion.html">Conocé nuestro local</a>
            </div>   
            <div class="footer__contenido--redes">    
                <p>Seguinos en nuestras redes</p>
            </div>
            <div class="footer__contenido--iconos">
                <a href="https://facebook.com/"><img src=".././img/logoface.png" alt="logo facebook"></a>
                <a href="https://instagram.com/"><img src=".././img/logoinsta.png" alt="logo instagram"></a>
            </div>
        </div>
        </footer>
    </footer>
</body>
</html>