<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="hamburguesa, hamburguesas, hamburgueseria, comida rapida, comida americana, restaurante hamburguesas, fast food, doble carne, doble panceta, doble cheddar">
    <meta name="description" content="Hacemos hamburguesas infernales con ingredientes de la mejor calidad. ¡Vení y probalas!">
    <title>Hamburguesas - Devil's Burger</title>
    <link rel="shortcut icon" href=".././img/favicondevils.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@200;300;500;600;700&family=Oswald:wght@300;500;700&family=Vazirmatn:wght@800;900&display=swap" rel="stylesheet">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href=".././css/estilos.css">
</head>
<body>
    <header class="header">
        <div class="conteniner__fluid">
            <img class="header__logo" src=".././img/logodevils1.png" alt="logo">
            <nav class="navbar navbar-expand-lg  navbar-dark header__navbar">
                <div class="container-fluid">
                  <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="hamburguesas.html">Hamburguesas</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="ubicacion.html">Ubicación</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="tcn.html">Trabajá en Devil's</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
        </div>
    </header>
    
    <main>
        <section class="menu">
            <div class="menu__flex">
            <h1>Hamburguesas</h1>
            <p>¡Todas vienen acompañadas con papas fritas!</p>
            <div class="menu__grid">
                <div id="agares">
                    <h2>Agares</h2>
                    <img src=".././img/agares.jpg" alt="hamburguesa agares">
                    <p>Doble carne de 90 g, queso azul, ananá grillada, cebolla caramelizada, brotes frescos. </p>
                </div>
                <div id="belcebu">
                    <h2>Belcebú</h2>
                    <img src=".././img/belcebu.jpg" alt="hamburguesa belcebú">
                    <p>Doble carne de 90 g, queso brie, rúcula, cebolla caramelizada y mayonesa de aceto balsámico.</p>
                </div>
                <div id="paimon">
                    <h2>Paimon</h2>
                    <img src=".././img/paimon.jpg" alt="hamburguesa paimon">
                    <p>Doble carne de 90 g, dos fetas de panceta, dos fetas de cheddar, lechuga, tomate, ketchup y mostaza.</p>  
                </div>
                <div id="astaroth">
                    <h2>Astaroth</h2>
                    <img src=".././img/astaroth.jpg" alt="hamburguesa astaroth">
                    <p>Triple carne de 90 g, pan invertido tostado con manteca, cuatro fetas de cheddar, cuatro fetas de panceta sweet, cebolla morada y salsa Devil's.</p>  
                </div>
                <div id="amon">
                    <h2>Amón</h2>
                    <img src=".././img/amon.jpg" alt="hamburguesa amón">
                    <p>Doble carne de 90 g, dos fetas de cheddar, ensalada mexicana, nachos y mayonesa de palta.</p>
                </div>
                <div id="samael">
                    <h2>Samael</h2>
                    <img src=".././img/samael.jpg" alt="hamburguesa samael">
                    <p>Doble carne de 90 g, cheddar líquido, cuatro fetas de panceta, cebolla crispy y salsa de barbacoa Jack Daniels.</p>  
                </div>
                <div id="lilith">
                    <h2>Lilith</h2>
                    <img src=".././img/lilith.jpg" alt="hamburguesa lilith">
                    <p>Doble carne de 90 g, dos fetas de panceta, dos fetas de cheddar, cebolla frita, huevo frito y salsa barbacoa.</p>  
                </div>
                <div id="lucifer">
                    <h2>Lucifer</h2>
                    <img src=".././img/lucifer.jpg" alt="hamburguesa lucifer">
                    <p>Triple carne de 90 g, tres fetas de cheddar, tres bastones de muzzarella envueltos en panceta y ketchup de curry.</p>    
                </div>
            </div>
            </div>        
        </section>
    </main>
    
    <footer class="footer">
        <div class="footer__contenido">
            <div class="footer__contenido--logo">
                <a href="../index.html"><img src=".././img/logodevils2.png" alt="logo footer"></a>
            </div>
            <div class="footer__contenido--ubicacion">
                <a href="ubicacion.html">Conocé nuestro local</a>
            </div>   
            <div class="footer__contenido--iconos">
                <a href="https://facebook.com/"><img src=".././img/logoface.png" alt="logo facebook"></a>
                <a href="https://instagram.com/"><img src=".././img/logoinsta.png" alt="logo instagram"></a>
            </div>
        </div>
        </footer>
    </footer>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>