<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="hamburguesa, hamburguesas, hamburgueseria, comida rapida, comida americana, restaurante hamburguesas, fast food, trabajo, empleo, atencion al cliente">
    <meta name="description" content="¡Queremos que formes parte del team Devi's!">
    <title>Trabajá en Devil's - Devil's Burger</title>
    <link rel="shortcut icon" href=".././img/favicondevils.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@200;300;500;600;700&family=Oswald:wght@300;500;700&family=Vazirmatn:wght@800;900&display=swap" rel="stylesheet">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href=".././css/estilos.css">
</head>
<body>
    <header class="header">
        <div class="conteniner__fluid">
            <img class="header__logo" src=".././img/logodevils1.png" alt="logo">
            <nav class="navbar navbar-expand-lg  navbar-dark header__navbar">
                <div class="container-fluid">
                  <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="hamburguesas.html">Hamburguesas</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="ubicacion.html">Ubicación</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="tcn.html">Trabajá en Devil's</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
        </div>
    </header>

    <section class="sumate">
        <div id="texto" class="sumate__texto">
            <h1>¡Sumate al Devil's team!</h1>
            <p>Si estas interesado en formar parte de nuestro equipo, completá el siguiente formulario.</p>
        </div>
        <div id="formulario" class="sumate__formulario">
            <div class="mb-3 sumate__formulario--nombre">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="email" class="form-control" id="nombre" placeholder="Ingresá tu nombre">
            </div>
            <div class="mb-3 sumate__formulario--apellido">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="email" class="form-control" id="nombre" placeholder="Ingresá tu apellido">
            </div>
            <div class="mb-3 sumate__formulario--mail">
                <label for="correo" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="correo" placeholder="name@example.com">
            </div>
            <div class="mb-3 sumate__formulario--celular">
                <label for="celular" class="form-label">Celular</label>
                <input type="email" class="form-control" id="celular" placeholder="Ingresá tu celular">
            </div>
            <div class="mb-3 sumate__formulario--cv">
                <label for="cv" class="form-label">Dejanos tu cv</label>
                <input class="form-control" type="file" id="cv">
            </div>
            <button type="submit" class="btn btn-dark">Enviar</button>
            <button type="reset" class="btn btn-dark">Limpiar</button>          
        </div>
    </section>
    
    <footer class="footer">
        <div class="footer__contenido">
            <div class="footer__contenido--logo">
                <a href="../index.html"><img src=".././img/logodevils2.png" alt="logo footer"></a>
            </div>
            <div class="footer__contenido--ubicacion">
                <a href="ubicacion.html">Conocé nuestro local</a>
            </div>   
            <div class="footer__contenido--redes">    
                <p>Seguinos en nuestras redes</p>
            </div>
            <div class="footer__contenido--iconos">
                <a href="https://facebook.com/"><img src=".././img/logoface.png" alt="logo facebook"></a>
                <a href="https://instagram.com/"><img src=".././img/logoinsta.png" alt="logo instagram"></a>
            </div>
        </div>
        </footer>
    </footer>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>