<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubicación - Devil's Burger</title>
    <link rel="shortcut icon" href="../img/favicondevils.png">
    <link rel="stylesheet" href=".././css/estilos.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@200;300;500;600;700&family=Oswald:wght@300;500;700&family=Vazirmatn:wght@800;900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <img class="header__logo" src=".././img/logodevils1.png" alt="logo">
        <nav class="header__navbar">
            <ul class="header__navbar--principal">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="hamburguesas.html">Hamburguesas</a></li>
                <li><a href="ubicacion.html">Ubicación</a></li>                  
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="tcn.html">Trabajá en Devil's</a></li>
            </ul>
        </nav>
    </header>

    <div class="ubicacion">
        <section id="direccion" class="ubicacion__direccion">
            <h2>Te abrimos las puertas del infierno:</h2>
            <p>Av. Olazábal 666, CABA</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.082732395537!2d-58.4425793489921!3d-34.55146060579391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb435cd0d0407%3A0x8c965c13fa735e98!2sAv.%20Olaz%C3%A1bal%20666%2C%20C1428DGN%20CABA!5e0!3m2!1ses-419!2sar!4v1654750736780!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <aside id="contacto" class="ubicacion__contacto">
            <h3>Contacto</h3>
            <a href="https://web.whatsapp.com/"><img src=".././img/logowpp.png" alt="logo whatsapp"></a>
            <p id="pedido">Hacenos tu pedido por whatsapp!!! </p>
            <p>Lunes a Jueves : 11:00 hs a 00:00 hs.</p>
            <p>Viernes, Sábados, Domingos y Pre-Feriados de 11:00 hs a 1:00 hs.Feriados: 11:00 hs a 00:00 hs</p>
        </aside>
    </div>

    <footer class="footer">
        <div class="footer__contenido">
            <div class="footer__contenido--logo">
                <a href="../index.html"><img src=".././img/logodevils2.png" alt="logo footer"></a>
            </div>
            <div class="footer__contenido--ubicacion">
                <a href="ubicacion.html">Conocé nuestro local</a>
            </div>   
            <div class="footer__contenido--redes">    
                <p>Seguinos en nuestras redes</p>
            </div>
            <div class="footer__contenido--iconos">
                <a href="https://facebook.com/"><img src=".././img/logoface.png" alt="logo facebook"></a>
                <a href="https://instagram.com/"><img src=".././img/logoinsta.png" alt="logo instagram"></a>
            </div>
        </div>
        </footer>
    </footer>
</body>
</html>