
.sumate {
    background-color: $color-fondo;
    color: $color-letra;
    @include grid (center, center, normal, space-evenly);
    display: grid;
    grid-template-areas:
    "texto"
    "formulario"
    ;
    height: 55rem;
    div#texto {
        grid-area: texto;
    }
    div#formulario {
        grid-area: formulario;
    }
    &__texto {
       text-align: center;
       & h1 {
        font-size: $fuente-large;
        padding: 2rem;
        text-transform: uppercase;
       }
       & p {
        font-size: $fuente-small;
        padding: 2rem;
       }
    }
    &__formulario {
        font-size: $fuente-medium;
        width: 15em;
    }
}